.shop-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.clock {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    text-align: center;
}